[package]
name = "autometrics"
version = { workspace = true }
edition = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }
readme = "README.md"

[features]
default = ["opentelemetry"]
metrics = ["dep:metrics"]
opentelemetry = ["opentelemetry_api"]
prometheus = ["const_format", "dep:prometheus", "once_cell"]
prometheus-exporter = [
  "metrics-exporter-prometheus",
  "once_cell",
  "opentelemetry-prometheus",
  "opentelemetry_sdk",
  "prometheus"
]
custom-objective-percentile = []
custom-objective-latency = []

[dependencies]
autometrics-macros = { workspace = true }

# Used for opentelemetry feature
opentelemetry_api = { version = "0.18", default-features = false, features = ["metrics"], optional = true }

# Use for metrics feature
metrics = { version = "0.21", default-features = false, optional = true }

# Used for prometheus-exporter feature
metrics-exporter-prometheus = { version = "0.12", default-features = false, optional = true }
once_cell = { version = "1.17", optional = true }
opentelemetry-prometheus = { version = "0.11", optional = true }
opentelemetry_sdk = { version = "0.18", default-features = false, features = ["metrics"], optional = true }
prometheus = { version = "0.13", default-features = false, optional = true }

# Used for prometheus feature
const_format = { version = "0.2", features = ["rust_1_51"], optional = true }

[dev-dependencies]
regex = "1.7"
http = "0.2"
vergen = { version = "8.1", features = ["git", "gitcl"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
